<div class="row">	
	<div class="inquiry">
		<div class="text-center">
			<div class="user-name">
				<h2><%= @inquiry.name %>様</h2>
			</div>
			<br>
			<div class="inquiry-answer">
				<h3>この度は、お問い合わせありがとうございました。<br>
				以下でご質問の回答となっておりますでしょうか？</h3>
			<br>
				<h4><%= @inquiry.message %></h4>
			</div>
			<br>
			<p>今後ともPhotoCamperをよろしくお願いいたします。</p>
		</div>
	</div>
</div>

