<div class="row">

	<div class="OmniAuth-content">

		<h1 class="OmniAuth-title">SNSログイン</h1>

		<div class="OmniAuth-icon">
			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
			<% end %>

			<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
			  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
			<% end %>

			<%- if devise_mapping.omniauthable? %>
			  <%= link_to user_twitter_omniauth_authorize_path do %>
			  	<i class="fa fa-twitter-square fa-4x twitter-icon"></i>
			  <% end %>
			<% end %>
		</div>

	</div>

</div>

