<div class="container">
	<div class="row">
		<div class="admin-top-content">
			<table>
			 	<tr>
			 		<th>投稿件数</th>
			 			<td></td>
			 	</tr>
			 	
			 	<tr>
			 		<th>お問い合わせ件数</th>
			 			<td></td>
			 	</tr>
			</table>
		</div>
	</div>    
</div>