<div class="container-fluid">
	<div class="row">
		<div class="admin-top-content">
			<table>
			 	<tr>
			 		<th><h1>投稿件数</h1></th>
			 			<td class="image-count"><%= Image.count %>件</td>
			 	</tr>
			 	
			 	<tr>
			 		<th><h1>お問い合わせ件数</h1></th>
			 			<td class="inquiry-count"><%= Inquiry.count %>件</td>
			 	</tr>
			</table>
		</div>
	</div>    
</div>