<div class="container">
	<div class="about-row">
		<div class="about-content">
			<div class="about-title">
				<h1>PhotoCamperについて</h1><br>
				<p>写真で伝えるキャンプの魅力</p>
			</div>
			<br>
			<div class="about-caption">
				<div class="site-title">
					<h1>PhotoCamper</h1>
				</div>
				<ul class="caption-text">
					<li>Photo Camperに登録しよう！</li>
					<li>キャンプで撮れた「お気に入り」の写真を投稿しよう！</li>
					<li>たくさんの「いいね！」をもらおう！</li><br>
					<p>PhotoCamperはキャンプをテーマにしたインスタライクなSNSです。<br>
					    パソコンやスマホから誰でも簡単に写真を投稿・編集ができます。
					</p>
					<p>ソロキャンプはもちろん、ファミリーキャンプなどで撮れたお気に入りの写真を投稿して<br>
					    キャンプの魅力をどんどんシェアしていきましょう！！
					</p>
				</ul>
				<div class="caption-title-1">
					<h1>写真で「魅力」をシェア！！</h1>
				</div>
				<ul class="caption-text">
					<strong>PhotoCamperでキャンプの魅力を伝えよう！</strong>
					<li>焚き火が本当に好きなんだよね〜</li>
					<li>外で飲むビールは格別でしょ！</li>
					<li>このギアめちゃ調子いいですよー！</li>
					<li>子供と魚釣りして食べましたー！...などなど</li><br>
					<li>キャンプでしか味わえない魅力がたくさんあるはず！<br>
					    そんな思いを写真と一緒に投稿しよう！！
					</li>
				</ul>
				<div class="caption-title-2">
					<h1>様々な「キャンプ」に触れる</h1>
				</div>
				<ul class="caption-text">
					<strong>様々な「キャンプ」の仕方に触れよう！</strong>
					<p>キャンプと言ってもやり方は人それぞれ！<br>
						他の人のキャンプに触れる事で「新しいキャンプの魅力」に出会えるかもしれません。<br>
						たくさんのキャンプに出会い、あなただけの「スタイル」を手に入れてみてはどうでしょうか？<br>
						もちろん、王道のキャンプスタイルでも最高ですけどね笑
					</p>
				</ul>
				
			</div>
		</div>
	</div>
</div>