<div class="container-fluid">
	<div class="row">
		<div class="main-visual">
			<div class="main-visual-content">			
					<P class="main-visual-text">
						<h1>Do you Feel nature ?</h1>
					</P>
					<div class="top-actions">
						<%= link_to "Signup", new_user_registration_path, class: 'btn btn-success btn-lg' %>
					</div>		
			</div>
		</div>	
	</div>
</div>