<div class="container-fluid">
	<div class="row">
		<div class="main-visual">
			<div class="main-visual-content">			
					<P class="main-visual-text">
						<h1>Do you Feel nature ?</h1>
					</P>			
			</div>
		</div>	
	</div>
</div>