<div class="row">
	<div class="text-center">
		<h1>Hellow!</h1>
		<div class="signup">
			<%= link_to"signup", new_user_registration_path %>
		</div>

		<div class="login">
			<%= link_to"login",new_user_session_path %>
		</div>
	</div>
</div>
