/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; 
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #DDDDDD;
}

.container {
	padding: 0;
}

.row {
	margin-top: 80px;
}

.field {
	margin-bottom: 30px;
}

table {
	margin: 0 auto;
	font-size: 17px;
}

ul {
	padding: 0;
}

.actions {
	text-align: center;
}


header {
	width: 100%;
	height: 80px;
	z-index: 1;
	margin: 0;
	padding: 0;
	position: fixed;
	background-color: #848282;
}

.header-content {
	margin-right: 30px;
}

.search-content {
    margin-top: 100px;
}

a {
	color: #000;
	font-size: 15px;
}

h2 {
	margin-top: 180px;
    text-align: center;
    font-size: 35px;
}

h3, .h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-right: 60px;
}

.category-navs {
	margin-top: 100px;
	margin-bottom: 80px;
}

.category_title {
	text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

/*-----signup/login-----*/

.admin-login-content {
	width: 40%;
	height: 100vh;
	margin: 0 auto;
}

.user-signup-content {
	width: 40%;
	height: 120vh;
	margin: 0 auto;
}

.signup-title {
	text-align: center;
}

.user-login-content {
	width: 40%;
	height: 100vh;
	margin: 0 auto;
}

.login-title {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
}

.passwords-edit {
	text-align: center;
}

.OmniAuth-title {
	text-align: center;
}

.OmniAuth-content {
	text-align: center;
	margin: 0 auto;
}

.passwords-edit {
	text-align: left;
}

.facebook-icon {
	color: #0066CC;
}

.twitter-icon {
	color: #3399FF;
}

.google-icon {
	color: #CC0000;
}

/*-----user/show/edit-----*/

.user-show-title {
	margin: 80px;
}

.user-content {
	width: 60%;
	height: 200px;
	margin: 100px auto;
	margin-bottom: 0;
	padding: 0;
}

.user-actions {
	width: 550px;
	margin: 70px auto;
	text-align: center;
}

.border-row {
	margin: 80px;
}

hr {
	border-width: 0 0 8px;
	border-style: solid;
	border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
	width: 100%;
}

.user-edit-content {
	width: 40%;
	height: 81vh;
	margin: 0 auto;
	padding: 30px 0;
}

.edit-cont {
	margin: 30px;
}

/*-----admin-top-----*/

.admin-top-content {
	width: 100%;
	height: 85vh;
	margin: 0 auto;
	padding: 200px 0;
	background-image: image-url("AdobeStock.jpg");
	background-size: cover;
	background-position: bottom;
	color: #FFF;
}

.image-count {
	font-size: xxx-large;
}

.top-cont {
	margin: 0 auto;
}

.inquiry-count {
	font-size: xxx-large;
}

.admin-user-profile {
	height: auto;
	height: 100vh;
}

.admins_user-content {
	height: 74vh;
}

.category-title {
	margin: 50px;
}

.category-edit-cont {
	height: 85vh;
	padding-top: 80px;
	text-align: center;
}

/*-----top-----*/
.main-visual {
	width: 100%;
	height: 600px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: image-url("home.jpg");
	background-size: cover;
	background-position: bottom;
}

.main-visual-content {
	width: 40%;
	height: 600px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding-top: 280px;
	color: #fff;
}

.top-actions {
	text-align: center;
	margin: 50px;
}

/*-----about-----*/

.about-row {
	margin-top: 80px;
}

.about-content {
	width: 100%;
	height: auto;
}

.about-title {
	width: 100%;
	height: 300px;
	background-color: #EEEEEE;
	text-align: center;
	padding-top: 80px;
	color: #000;
}

.site-title {
	text-align: center;
	margin: 50px;
}

.caption-title-1 {
	width: 100%;
	height: 400px;
	background-image: image-url("about2.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 170px;
	color: #fff;
}

.caption-title-2 {
	width: 100%;
	height: 400px;
	background-image: image-url("about3.jpg");
	background-position: bottom;
	background-size: cover;
	text-align: center;
	padding-top: 170px;
	color: #fff;
}

/*-----image-----*/

.bar {
	background-color: #D9E5FF;
	width: 33%;
	height: 70px;
	float: left;
	text-align: center;
	border: 1px solid black;
	margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 15px;
    list-style: none;
    font-size: 25px;
}

.bar1 {
	background-color: #D9E5FF;
	width: 33%;
	float: left;
	text-align: center;
	border: 1px solid black;
	border-right: none;
    border-left: none;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 15px;
    list-style: none;
    font-size: 25px;
}

.bar2 {
	background-color: #D9E5FF;
	width: 33%;
	float: left;
	text-align: center;
	border: 1px solid black;
	height: 70px;
	margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 15px;
    list-style: none;
    font-size: 25px;
}

.bar.bar-ext {
	background-color: #75A9FF;
}

.bar1.bar-ext {
	background-color: #75A9FF;
}

.bar2.bar-ext {
	background-color: #75A9FF;
}

main {
	width: 90%;
	height: auto;
	min-height: 200vh;
	margin: 0 auto;
}

.clearfix::after {
	content:'';
	display:block;
	clear:both;
}

.float-content {
	height: 500px;
	text-align: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.fct-profile-cont {
	background-color: #EEEEEE;
}

.show-profile-cont {
	width: 550px; 
	background-color: #EEEEEE;
}

.fct-cont {
	text-align: right;
	list-style: none;
}

.post-image-title {
	text-align: left;
	margin-left: 20px;
	font-size: 24px;
}

.acount-profile {
	margin-right: 20px;
	text-align: left;
}

.acount > table {
	margin: 0;
}

.new-post-content {
	width: 60%;
	height: 600px;
	margin: 0 auto;
}

.new-post-title {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 40px;
	text-align: center;
}

.edit-title {
	margin: 70px;
	text-align: center;
}

.image-edit-content {
	height: 80vh;
}

.image-field {
	margin-bottom: 50px;
}

/*-----image-show-----*/

.show-title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 80px;
}

.show1 {
	height: 730px;
	margin-top: 120px;
}

.show2 {
	height: 600px;
	margin-top: 30px;
}

#map {
	width: auto;
	height: 240px;
}

.comment-index {
	margin: 0;
}

/*-----sidebar-----*/

.sidebar-title {
	margin-top: 30px;
	font-size: 28px;
    color: #000;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FF6600 0%, #000 100%);
}

.sidebarMenuInner{
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 30px;
    left: 30px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.inquiry-link {
	color: #FFFF99;
	font-size: 10px;
}

/*-----inquiry-----*/

.inquiry-contents {
	width: 60%;
	height: 700px;
	margin: 0 auto;
	padding: 0;
}

.inquiry-title {
	text-align: center;
	margin: 40px;
	background: linear-gradient(transparent 70%, #FF6600 70%);
}

.stepbar-contents {
	margin-bottom: 60px;
}

.inquiry-text {
	text-align: center;
	margin-bottom: 30px;
}

.field {
	margin-bottom: 50px;
}

.thanks-title {
	margin-top: 200px;
	text-align: center;
	border-bottom: double 6px #87CEFA;
}

footer {
	width: 100%;
	height: 80px;
	text-align: center;
	margin: 0;
	padding: 30px 0;
	z-index: 99;
	background-color: #848282;
	
}

.footer-content {
	color: #000;
}

/*----------レスポンシブ----------*/

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {

	.float-content {
		height: 860px;
		float: none;
	}

	.fct-profile-cont {
	    width: 580px;
	    margin: 0 auto;
	    background-color: #EEEEEE;
    }

    .post-image {
	    width: 580px;
	    height: 600px;
	    margin: 0 auto;
    }
}


/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

	.main-visual {
		background-image: image-url("ahmed-zayan-6h0xlEZoYZY-unsplash.jpg");
		height: 1000px;
	}

	.main-visual-content {
		height: 1000px;
	}
	
	.show-image {
		width: 450px;
		height: 430px;
	}

	.show-profile-cont {
	    width: 450px;
	    margin: 0 auto;
	    background-color: #EEEEEE;
    }
}


/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {

	header {
		width: auto;
	}

	.header-content {
    	margin-right: 60px;
	}

	p {
	    font-size: 15px;
	    padding-top: 10px;
	}

	.main-visual {
		background-image: image-url("ahmed-zayan-6h0xlEZoYZY-unsplash.jpg");
	}

	.show {
		height: auto;
	}

	.show1 {
		height: 1200px;
	}

	#sidebarMenu {
		width: 150px;
	}

	.search-content {
		margin-left: 80px;
	}

	.navigation_bar {
		height: 200px;
		margin-left: 15px;
	}

	.float-content {
		height: 550px;
		float: none;
		margin-left: 0;
	}

	.fct-profile-cont {
	    width: 350px;
	    margin: 0 auto;
	    background-color: #EEEEEE;
    }

    .post-image {
    	width: 350px;
    	height: 350px;
	    margin: 0 auto;
    }

    .show-image {
    	width: 425px;
    }

    .show-profile-cont {
    	width: 425px;
    }

    .comment-title {
    	margin-left: 30px; 
    }

    .user-content {
    	width: 80%;
    	height: 250px;
    }

    .user-show-title {
    	margin: 0;
	    margin-top: 40px;
	    margin-bottom: 80px;
	}

	.user-image {
		width: 100px;
		height: 100px;
	}

	.user-actions {
		width: 400px;
	}

	hr {
		width: 100%;
	}

	.edit-image {
		width: 350px;
		height: 330px;
	}

	.image-edit-content {
    	height: 100vh;
	}

	.edit-title {
	    margin-top: 70px;
	    margin-bottom: 70px;
	}

	.user-edit-content {
		width: 400px;
		height: 700px;
		padding: 0;
	}

	.user-edit-image {
		width: 100px;
		height: 100px;
	}

	.user-edit-btn {
		width: 300px;
	}

	.new-post-content {
		margin: 100px auto;
	}

	h2, {
		margin-bottom: 70px;
	}



    /* チェックボックスは非表示に */
	.drawer-hidden {
	  display: none;
	}

	/* ハンバーガーアイコンの設置スペース */
	.drawer-open {
	  height: 44px;
	  width: 100%;
	  padding-top: 34px;
      margin-left: 320px;
	  justify-content: center;
	  align-items: center;
	  position: relative;
	  z-index: 100;
	  cursor: pointer;
	}

	/* ハンバーガーメニューのアイコン */
	.drawer-open span,
	.drawer-open span:before,
	.drawer-open span:after {
	  content: '';
	  display: block;
	  height: 3px;
	  width: 25px;
	  border-radius: 3px;
	  background: #333;
	  transition: 0.5s;
	  position: absolute;
	}

	/* 三本線のうち一番上の棒の位置調整 */
	.drawer-open span:before {
	  bottom: 8px;
	}

	/* 三本線のうち一番下の棒の位置調整 */
	.drawer-open span:after {
	  top: 8px;
	}

	/* アイコンがクリックされたら真ん中の線を透明にする */
	#drawer-check:checked ~ .drawer-open span {
	  background: rgba(255, 255, 255, 0);
	}

	/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
	#drawer-check:checked ~ .drawer-open span::before {
	  bottom: 0;
	  transform: rotate(45deg);
	}

	#drawer-check:checked ~ .drawer-open span::after {
	  top: 0;
	  transform: rotate(-45deg);
	}
	  
	/* メニューのデザイン*/
	.drawer-content {
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  left: 100%;/* メニューを画面の外に飛ばす */
	  z-index: 99;
	  background: #fff;
	  transition: .5s;
	}

	/* アイコンがクリックされたらメニューを表示 */
	#drawer-check:checked ~ .drawer-content {
	  left: 0;/* メニューを画面に入れる */
	}

}

