<div class="container">
	<div class="row">
		<div class="inquiry-contents">

			<h1 class= "inquiry-title">お問い合わせフォーム</h1>

			<div class="stepbar-contents">
					<ul class="nav nav-pills nav-justified btn-lg">
			            <li role="presentation">
			            	<a>step1<br>情報の入力</a>
			            </li>
			            <li role="presentation" ><a>step2<br>入力内容の確認</a></li>
			            <li role="presentation" class="active"><a>step3<br>受付完了</a></li>
		        	</ul>
		    </div>

		    <h1 class="thanks-title">お問い合わせ、誠にありがとうございます！</h1>
		</div>
	</div>
</div>
