<nav class="navbar navbar-default">	
	<div class="container-fluid">
		<div class="row">
			<footer>
				<div class="footer-text">
					<p>Copyright © 2020 PhotoCamper. All rights reserved.</p> 
		    	</div>
			</footer>
		</div>
	</div>
</nav>
