<footer class="navbar navber-static-top navbar-inverse">
    <div class="container">
        <nav class="navbar-text navbar-right">
	  	    <div class="row center">
	    		<p class="brown_txt">Copyright © 2020 PhotoCamper. All rights reserved.</p>
	        </div>
        </nav>
    </div>
</footer>