<div class="navigation_bar">
    <ul>
        <li class="bar">
            <p>新着順</p>
        </li>
        <li class="bar1">
            <p>いいね順</p>
        </li>
        <li class="bar2">
            <p>アクセス順</p>
        </li>
    </ul>
</div>