<div class="row">
    <div class="col-sm-3">
            <div class="sidebar">
                <%= link_to new_image_path do %>
                  <h2 class="campers_txt">新規投稿</h2>
                <% end %>
                <h2 class="category_txt">ジャンル検索</h2>
                <ul class="center">

                </ul>
            </div>
    </div>
