<h3 class="category-title">カテゴリー</h3>
    <% categories.each do |category| %>
        <% if category.active_status == true %>
            <li><%=link_to admins_category_path(category),class: "white_txt" do %>
                <%= category.name %>
                <% end %>
            </li>
        <% end %>
    <% end %>